<!DOCTYPE html>
<html lang="en">

{% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Test</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}" />
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' />
  
  </head>
<!--
Parallo Template
https://templatemo.com/tm-534-parallo
-->
  <body id="assignmentPage">
    <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/create test.jpg' %}">
      <div class="container-fluid">
        <div class="row tm-brand-row">
          <div class="col-lg-4 col-11">
            <div class="tm-brand-container tm-bg-white-transparent">
              <i class="fas fa-2x fa-pen tm-brand-icon"></i>
              <div class="tm-brand-texts">
                <h1 class="text-uppercase tm-brand-name">College Tab</h1>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-1">
            <div class="tm-nav">
              <nav
                class="navbar navbar-expand-lg navbar-light tm-bg-white-transparent tm-navbar">
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarNav"
                  aria-controls="navbarNav"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a href="{% url 'teacher:t_db' %}" class="btn btn-outline-dark">Go Back</a>
                    </li>
                    <li class="nav-item">
                      <a class="btn btn-outline-dark" href="{% url 't_logout' %}">Logout</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>

        <!-- Services header -->
        <section class="row" id="tmServices">
            <div class="col-12">
               <div class="parallax-window tm-services-parallax-header tm-testimonials-parallax-header"
                    data-parallax="scroll"
                    data-z-index="101"
                    data-image-src="{% static 'img/colors.jpg' %}">
   
                    <div class="text-center tm-services-header tm-testimonials-header" style="background-color:#E3E3E3";>
                       <h2 class="tm-services-page-title tm-testimonials-page-title">Create New Test:</h2>
                   </div>
               </div>
            </div>  


         <!-- Page footer -->
         <footer class="row">
            <p class="col-12 text-white text-center tm-copyright-text">
              College Tab
            </p>
          </footer>
        </div>
        <!-- .container-fluid -->
      </div>
  
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/parallax.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script>
          $(function(){
              $('.tabgroup > div').hide();
              $('.tabgroup > div:first-of-type').show();  
              $('.tabs a').click(function(e){
                e.preventDefault();
                var $this = $(this),
                    tabgroup = '#'+$this.parents('.tabs').data('tabgroup'),
                    others = $this.closest('li').siblings().children('a'),
                    target = $this.attr('href');
                others.removeClass('active');
                $this.addClass('active');
                $(tabgroup).children('div').hide();
                $(target).show();
  
                // Scroll to tab content (for mobile)
                if($(window).width() < 992) {
                    $('html, body').animate({
                        scrollTop: $("#first-tab-group").offset().top
                    }, 200);    
                }              
              })  
          });
          
      </script>
    </body>
  </html>