<!DOCTYPE html>
<html lang="en">

{% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Student Dashboard</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}" />
  
  </head>
<!--
Parallo Template
https://templatemo.com/tm-534-parallo
-->
  <body id="servicesPage">
    <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/subjects_assignments.jpg' %}">
      <div class="container-fluid">
        <div class="row tm-brand-row">
          <div class="col-lg-4 col-11">
            <div class="tm-brand-container tm-bg-white-transparent">
              <i class="fas fa-2x fa-pen tm-brand-icon"></i>
              <div class="tm-brand-texts">
                <h1 class="text-uppercase tm-brand-name">College Tab</h1>   
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-1">
            <div class="tm-nav">
              <nav
                class="navbar navbar-expand-lg navbar-light tm-bg-white-transparent tm-navbar">
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarNav"
                  aria-controls="navbarNav"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="btn btn-outline-dark">
                      Welcome&nbsp;&nbsp;<b>{{student.name}}!</b>
                    </li>
                    <li class="nav-item">
                      <button type="button" class="btn btn-outline-dark">{{ cur_date }}</button>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 's_logout' %}" class="btn btn-outline-dark" style="height: 90px; text-align:center;">Logout</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>

        <!-- Services header -->
        <section class="row" id="tmServices">
         <div class="col-12">
            <div class="parallax-window tm-services-parallax-header tm-testimonials-parallax-header tm-bg-white-transparent"
                 data-parallax="scroll"
                 data-z-index="101"
                 >
                 <div class="tm-bg-brown-transparent text-center tm-services-header tm-testimonials-header">
                    <h2 class="text-uppercase tm-services-page-title tm-testimonials-page-title">Student Dashboard</h2>
                    <p class="btn btn-outline-light active">
                        College: {{student.college_name}}
                    </p>
                    <p class="btn btn-outline-light active">
                        Class: {{student.sem}} {{student.branch}} {{student.sec}} 
                    </p>
                </div>
            </div>
          </div>   

          <div class="col-12 tm-tabs-container">
              <div class="sections">
                <h3>SUBJECTS:</h3>
                <div class="card-deck">
                  {% for subject in subject_list%}
                          <div class="btn-outline card-upper">
                            <div class="card-body text-center">
                              <div class="cards">
                                <div class="contents">
                                  <p class="card-text">
                                    {{subject.subject_code}}
                                  </p>
                                  <p class="card-text">
                                    {{subject.name}}
                                  </p>
                                </div>
                                <div class="card-text" style="position:relative; top:50px;">
                                  <a class="btn btn-outline-dark" href="{% url 'student:s_subject_assignment_list' student.enrollment_number subject.subject_code %}">Check</a>
                                </div>
                              </div>
                            </div>
                          </div>
                    {% endfor %}  
              </div> 
            </div> 			
          </div>   
          <div class="col-12" id="tests">
            <div class="sections">
              <h3>TEST(S):</h3>
              <div class="card-deck">
                {% if error != '' %}
                <div class="card-body text-center">{{error}}</div>
                {% else %}
                {% for test in tests %}
                  <div class="btn-outline card-upper">
                    <div class="card-body text-center">
                      <div class="cards">
                        <div class="contents">
                          <p class="card-text">
                            {{test.s_id.name}}
                          </p>
                          <p class="card-text">
                            <b>Topic: </b>{{test.topic}}
                          </p>
                          <p class="card-text">
                            {{test.t_id.name}}
                          </p>
                          <p class="card-text">
                            {{test.date}}
                          </p>
                        </div>
                        <div class="card-text" style="position:relative; top:50px;">
                          <a class="btn btn-outline-dark" href="{% url 'student:test' student.enrollment_number test.id %}">Give Test</a>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                {% endif %}
            </div> 
          </div> 			
        </div>     
                
        </section>
       

        <!-- Page footer -->
        <footer class="row">
          <p class="col-12 text-white text-center tm-copyright-text">
            College Tab
          </p>
        </footer>
      </div>
      <!-- .container-fluid -->
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        $(function(){
            $('.tabgroup > div').hide();
            $('.tabgroup > div:first-of-type').show();  
            $('.tabs a').click(function(e){
              e.preventDefault();
              var $this = $(this),
                  tabgroup = '#'+$this.parents('.tabs').data('tabgroup'),
                  others = $this.closest('li').siblings().children('a'),
                  target = $this.attr('href');
              others.removeClass('active');
              $this.addClass('active');
              $(tabgroup).children('div').hide();
              $(target).show();

              // Scroll to tab content (for mobile)
              if($(window).width() < 992) {
                  $('html, body').animate({
                      scrollTop: $("#first-tab-group").offset().top
                  }, 200);    
              }              
            })  
        });
        
    </script>
  </body>
</html>